In [57]:
import pandas as pd

In [58]:
customers=pd.read_csv("/Users/duygubuyukbakkal/Downloads/salesdb/customers.csv")
employees=pd.read_csv("/Users/duygubuyukbakkal/Downloads/salesdb/employees.csv")
products=pd.read_csv("/Users/duygubuyukbakkal/Downloads/salesdb/products.csv")
sales=pd.read_csv("/Users/duygubuyukbakkal/Downloads/salesdb/sales.csv")

In [59]:
products_sales=sales.merge(products,on="ProductID",how="left")

In [60]:
#Hangi üründen ne kadar satıldığı
products_sales.groupby("Name")["Quantity"].sum()

Name
AWC Logo Cap                  1681578
Adjustable Race               1689139
All-Purpose Bike Stand        1917745
BB Ball Bearing                770935
Bearing Ball                  1515528
                               ...
Touring-3000 Yellow, 58           974
Women's Mountain Shorts, L        374
Women's Mountain Shorts, M        878
Women's Tights, L                 359
Women's Tights, S                 357
Name: Quantity, Length: 267, dtype: int64

In [61]:
#her satıcının toplamda kaç ürün sattığı
sales.groupby("SalesPersonID")["Quantity"].sum()

SalesPersonID
1    253157371
2    155714556
3    141419313
4    149166324
Name: Quantity, dtype: int64

In [62]:
#Çalışanların hangi üründen kaçar tane sattığı.
products_sales.groupby(["SalesPersonID","Name"]).agg({"Quantity":"sum"})

                                       Quantity
SalesPersonID Name
1             AWC Logo Cap               335048
              Adjustable Race             84393
              All-Purpose Bike Stand    1837473
              Bearing Ball                   24
              Blade                      203010
...                                         ...
4             Touring-1000 Yellow, 50    891480
              Touring-2000 Blue, 54         954
              Touring-3000 Blue, 44     1693445
              Touring-3000 Blue, 50     9212023
              Women's Tights, S             357

[407 rows x 1 columns]

In [63]:
#Müşterilerin hangi çalışandan ne kadar ürün satın aldığı
sales.groupby(["CustomerID","SalesPersonID"]).agg({"Quantity":"sum"})

                          Quantity
CustomerID SalesPersonID
1          1                 63297
5          4                431756
8          4                105716
21         4                460408
24         4                   741
...                            ...
19440      1                753702
           2                   162
19520      2              21828120
19680      3                742266
           4                  6335

[354 rows x 1 columns]

In [64]:
#Müşterilerin hangi çalışandan ne kadar ürün satın aldığı.(Alternatif pivot kullanarak)
sales.pivot_table("Quantity","CustomerID","SalesPersonID")

SalesPersonID           1           2      3           4
CustomerID
1               11.063975         NaN    NaN         NaN
5                     NaN         NaN    NaN  988.000000
8                     NaN         NaN    NaN  988.000000
21                    NaN         NaN    NaN  988.000000
24                    NaN         NaN    NaN  741.000000
...                   ...         ...    ...         ...
19280          983.827956         NaN  243.0  982.142857
19360                 NaN         NaN    NaN  820.008845
19440          408.732104  162.000000    NaN         NaN
19520                 NaN  985.468172    NaN         NaN
19680                 NaN         NaN  411.0  905.000000

[275 rows x 4 columns]

In [65]:
#Çalışanların satışlardan kazandırdığı para.
products_sales["total_price"]=products_sales["Quantity"]*products_sales["Price"]
sales_per_saler=products_sales.groupby(["SalesPersonID"]).agg({"total_price":"sum"})
print(sales_per_saler)

                total_price
SalesPersonID
1              1.265402e+11
2              8.680831e+10
3              3.682692e+10
4              5.555479e+10

In [66]:
#Siparişlerin ortalama tutarları.
products_sales.agg({"total_price":"mean"})

total_price    220120.704384
dtype: float64

In [67]:
products_sales.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Name,Price,total_price
0,4,1,4182,437,437,ML Road Tire,24.99,10920.63
1,9,1,1,1,10,Adjustable Race,1.60,16.00
2,20,1,4182,437,437,ML Road Tire,24.99,10920.63
3,25,1,1,1,26,Adjustable Race,1.60,41.60
4,33,1,13482,26,530,Flat Washer 4,0.00,0.00

In [68]:
#En çok satış yapan satıcı
products_sales.groupby(["SalesPersonID"]).agg({"sales_per_saler":"max"})

KeyError: "Column(s) ['sales_per_saler'] do not exist"

In [ ]:
#En fazla alışveriş yapan müşteri
customers_sales=sales.merge(customers,on="CustomerID",how="left")
sales_per_customer=customers_sales.groupby(["SalesPersonID"]).agg({"Quantity":"sum"})
products_sales.groupby(["FirstName"]).agg({"Quantity":"max"})

KeyError: 'FirstName'

In [ ]:
#fiyatı 1000 lira üzerinden satış yapılanların adedi

In [ ]:
#en çok alışveriş yapan müşterinin aldığı ürünler